recovery_only(`

# XXX
##allow init rootfs:file write;
allow recovery sysfs_graphics:dir search;
allow recovery sysfs_graphics:file { getattr open read write };
get_prop(recovery, sf_lcd_density_prop)
r_dir_file(recovery, pstorefs)
unix_socket_connect(recovery, vold, vold)

# Secure adb (setup_adbd)
allow adbd adb_keys_file:dir search;
r_dir_file(recovery, adb_keys_file)
set_prop(recovery, shell_prop)

# Manage fstab and /adb_keys
allow recovery rootfs:file create_file_perms;
allow recovery rootfs:file link;
allow recovery rootfs:dir { write create rmdir add_name remove_name };

# Sideload cache
allow recovery proc_meminfo:file { getattr open read };

# Read storage files and directories
allow recovery tmpfs:dir mounton;
r_dir_file(recovery, media_rw_data_file)
r_dir_file(recovery, sdcard_type)
r_dir_file(recovery, vfat)

# Control properties
set_prop(recovery, ffs_prop)
set_prop(recovery, recovery_prop)

# Set system properties for various things
set_prop(recovery, system_prop)

')
