type sysinit, coredomain, domain;
type sysinit_exec, exec_type, file_type;

# Allow for transition from init domain to sysinit
init_daemon_domain(sysinit)

allow sysinit devpts:chr_file rw_file_perms;
allow sysinit self:process setcurrent;
allow sysinit shell_exec:file rx_file_perms;
allow sysinit system_file:file rx_file_perms;
