# theme property
get_prop(system_server, theme_prop)
set_prop(system_server, theme_prop)

allow system_server font_manager_service:service_manager find;

# Allow access theme data files
allow system_server theme_data_file:dir { create_dir_perms relabelto rw_dir_perms };
allow system_server theme_data_file:file { create_file_perms relabelto rw_file_perms };

# allow system_server to look into theme resources
allow system_server theme_data_file:dir search;
