type sdcard_posix, sdcard_type, sdcard_posix_contextmount_type, fs_type, mlstrustedobject;
type adbroot_data_file, file_type, data_file_type, core_data_file_type;
