# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_evervolv_fastcharge)

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_evervolv_livedisplay)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)
