recovery_only(`
userdebug_or_eng(`
permissive recovery;
')

# Volume manager
allow recovery block_device:dir create_dir_perms;
allow recovery block_device:blk_file create_file_perms;
allow recovery self:capability mknod;
allow recovery proc_filesystems:file r_file_perms;
allow recovery self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow recovery sysfs:file w_file_perms; # writing to /sys/*/uevent during coldboot.
allow recovery tmpfs:file link;
')
