type adbroot_service,                   service_manager_type;
type style_service, system_api_service, system_server_service, service_manager_type;
type performance_service, system_api_service, system_server_service, service_manager_type;
type hardware_manager_service, system_api_service, system_server_service, service_manager_type;
