allow system_server storage_stub_file:dir getattr;
allow system_server adbroot_service:service_manager find;

# Use HALs
hal_client_domain(system_server, hal_evervolv_fastcharge)
hal_client_domain(system_server, hal_evervolv_livedisplay)
hal_client_domain(system_server, hal_evervolv_touch)
hal_client_domain(system_server, hal_lineage_health)
hal_client_domain(system_server, hal_lineage_powershare)

# Read restart config
get_prop(system_server, userspace_reboot_config_prop);

# DC Dimming
add_service(system_server, dc_dimming_service);

# Let system server find auxiliary camera properties
get_prop(system_server, vendor_persist_camera_prop)

