# Allow access to the HALs
hal_client_domain(system_app, hal_evervolv_fastcharge)
hal_client_domain(system_app, hal_evervolv_livedisplay)
hal_client_domain(system_app, hal_evervolv_touch)
hal_client_domain(system_app, hal_lineage_powershare)

# Allow Settings to read ro.vendor.build.security_patch
get_prop(system_app, vendor_security_patch_level_prop)

# Allow Settings to read selinux status
allow system_app selinuxfs:file r_file_perms;
