# HwBinder IPC from client to server
binder_call(hal_evervolv_camera_motor_client, hal_evervolv_camera_motor_server)

add_hwservice(hal_evervolv_camera_motor_server, hal_evervolv_camera_motor_hwservice)
allow hal_evervolv_camera_motor_client hal_evervolv_camera_motor_hwservice:hwservice_manager find;
