# HwBinder IPC from client to server
binder_call(hal_evervolv_livedisplay_client, hal_evervolv_livedisplay_server)

add_hwservice(hal_evervolv_livedisplay_server, hal_evervolv_livedisplay_hwservice)
allow hal_evervolv_livedisplay_client hal_evervolv_livedisplay_hwservice:hwservice_manager find;
