import init.power.rc

on init
    export SD_EXT_DIRECTORY /sd-ext
    mkdir /sd-ext 0771 system system

on post-fs-data
    start welcome_motd

service welcome_motd /system/bin/welcome_motd
    user root
    group root
    oneshot
    disabled

service enable_zram /system/bin/enable_zram
    class main
    user root
    group root
    oneshot
