import init.power.rc

on init
    export SD_EXT_DIRECTORY /sd-ext
    mkdir /sd-ext 0771 system system

on post-fs-data
    start welcome_motd

service welcome_motd /system/bin/welcome_motd
    user root
    group root
    oneshot
    disabled

# no-op without additional args
service dumplogcat /system/bin/dumplogcat
    class main
    disabled
    oneshot

# su daemon
service su_daemon /system/xbin/su --daemon
    seclabel u:r:sudaemon:s0
    class main

on property:persist.sys.root_access=0
    stop su_daemon

on property:persist.sys.root_access=2
    stop su_daemon

on property:persist.sys.root_access=1
    start su_daemon

on property:persist.sys.root_access=3
    start su_daemon

on property:init.svc.su_daemon=running
    mkdir /dev/com.evervolv.toolbox.daemon 0755 root root
    restorecon_recursive /dev/com.evervolv.toolbox.daemon
    mkdir /dev/com.evervolv.toolbox 0755 root root
    restorecon_recursive /dev/com.evervolv.toolbox

on property:sys.zram.restored=true
    write /proc/sys/vm/page-cluster 0
    swapon_all /data/system/fstab.zram
